/* Estilo para el cuerpo del documento */
body {
    margin: 0; /* Elimina el margen predeterminado del cuerpo */
    padding: 0; /* Elimina el relleno predeterminado del cuerpo */
    box-sizing: border-box; /* Incluye padding y border en el cálculo del ancho y alto */
    font-family: Arial, sans-serif; /* Establece la fuente de todo el documento */
    display: flex; /* Usa flexbox para el layout del cuerpo */
    flex-direction: column; /* Organiza los elementos hijos en una columna */
    align-items: center; /* Centra los elementos hijos horizontalmente */
    background: linear-gradient(to bottom, #020249, #0c204e); /* Fondo con degradado azul */
    color: rgb(255, 254, 254); /* Texto blanco para mejor contraste */
    scroll-behavior: smooth; /* Desplazamiento suave al hacer clic en los enlaces de anclaje */
    font-size: 18px; /* Ajusta este valor según sea necesario */
}

.section {
    width: 100%; /* Ancho completo de la ventana */
    height: 100vh; /* Altura de toda la ventana */
    display: flex; /* Usa flexbox para el layout de la sección */
    justify-content: center; /* Centra horizontalmente los elementos hijos */
    align-items: center; /* Centra verticalmente los elementos hijos */
    flex-direction: column; /* Organiza los elementos hijos en una columna */
}

/* Estilo para el encabezado */
header {
    width: 100%; /* Ancho completo de la ventana */
    background-color: rgba(17, 17, 17, 0.7); /* Fondo semi-transparente negro */
    padding: 10px 0; /* Relleno superior e inferior de 10px */
    position: fixed; /* Fija el encabezado en la parte superior de la ventana */
    top: 0; /* Posiciona el encabezado en la parte superior */
    z-index: 1000; /* Asegura que el encabezado esté por encima de otros contenidos ojito con esto*/
}

nav {
    display: flex; /* Usa flexbox para el layout del nav */
    align-items: center; /* Centra los elementos hijos verticalmente */
    justify-content: space-between; /* Espacia uniformemente los elementos hijos */
    width: 80%; /* Ancho del 80% de la ventana */
    margin: 0 auto; /* Centra horizontalmente el nav */
}

.logo img {
    height: 100px; /* Altura de 50px para la imagen del logo */
}

.nombre-empresa {
    margin: 0; /* Elimina el margen del título del nombre de la empresa */
}

.nav-links {
    display: flex; /* Usa flexbox para el layout de los enlaces de navegación para q sea responsive */
}

.nav-link {
    font-weight: 600; /* Establece el grosor de la fuente en negrita */
    padding: 0 10px; /* Relleno horizontal de 10px */
    text-decoration: none; /* Elimina el subrayado de los enlaces */
    color: rgb(255, 255, 255); /* Color de texto blanco */
}

.nav-link:hover {
    color: rgb(72, 209, 163); /* Color de texto aquamarina al pasar el ratón */
}

/* Estilo para la sección de perfil */
.wrapper {
    display: flex; /* Usa flexbox para el layout del wrapper */
    justify-content: center; /* Centra horizontalmente los elementos hijos */
    align-items: center; /* Centra verticalmente los elementos hijos */
    width: 80%; /* Ancho del 80% de la ventana */
    margin: 0 auto; /* Centra horizontalmente el wrapper */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.text-box {
    flex: 1; /* Toma el espacio restante disponible */
    padding-right: 20px; /* Relleno derecho de 20px */
    text-align: left; /* Alinea el texto a la izquierda */
}

.text-box h3 {
    font-size: 36px; /* Tamaño de fuente de 36px para el título */
    margin-bottom: 20px; /* Margen inferior de 20px */
}

.text-box p {
    font-size: 18px; /* Tamaño de fuente de 18px para el párrafo */
    line-height: 1.6; /* Espaciado entre líneas de 1.6 */
    text-align: justify; /* Justifica el texto */
}

.profile-image {
    max-width: 500px; /* Ancho máximo de 500px */
    width: 100%; /* Ancho del 100% del contenedor padre */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    border-radius: 10px; /* Bordes redondeados de 10px */
}

/* Estilo para las secciones de imagen y texto */
.image-container {
    text-align: center; /* Centra el texto */
    margin: 20px; /* Margen de 20px alrededor */
    flex: 1; /* Toma el espacio restante disponible */
}

.image-container img {
    max-width: 100%; /* Ancho máximo del 100% del contenedor padre */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    display: block; /* Muestra el elemento como un bloque */
    margin-bottom: 10px; /* Margen inferior de 10px */
}

.image-container h3,
.image-container p,
.image-container a {
    margin: 10px 0; /* Margen vertical de 10px */
}

/* Estilo para la última sección */
.container {
    display: flex; /* Usa flexbox para el layout del container */
    align-items: center; /* Centra verticalmente los elementos hijos */
    justify-content: center; /* Centra horizontalmente los elementos hijos */
    width: 100%; /* Ancho completo de la ventana */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.container .image {
    max-width: 200px; /* Ancho máximo de 200px */
    width: 100%; /* Ancho del 100% del contenedor padre */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    margin-right: 20px; /* Margen derecho de 20px */
}

.container .content {
    text-align: left; /* Alinea el texto a la izquierda */
    max-width: 600px; /* Ancho máximo de 600px */
}

.container .content h3 {
    margin: 10px 0; /* Margen vertical de 10px */
}

.container .content p {
    margin: 10px 0; /* Margen vertical de 10px */
}

.container .content a {
    display: inline-block; /* Muestra el enlace como un bloque en línea */
    padding: 10px 20px; /* Relleno de 10px vertical y 20px horizontal */
    margin-top: 10px; /* Margen superior de 10px */
    background-color: #007BFF; /* Fondo azul */
    color: #fff; /* Color de texto blanco */
    text-decoration: none; /* Elimina el subrayado del enlace */
    border-radius: 5px; /* Bordes redondeados de 5px */
}

.container .content a:hover {
    background-color: #0056b3; /* Fondo azul oscuro al pasar el ratón */
}

/* Estilo para la sección de contacto */
.contact {
    text-align: center; /* Centra el texto */
    width: 100%; /* Ancho completo de la ventana */
    padding: 20px 0; /* Relleno vertical de 20px */
}

.contact h2 {
    margin-bottom: 20px; /* Margen inferior de 20px */
}

.social-links {
    display: flex; /* Usa flexbox para el layout de los enlaces sociales */
    justify-content: center; /* Centra horizontalmente los elementos hijos */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.social-links a {
    margin: 10px; /* Margen de 10px alrededor */
}

.social-links img {
    width: 40px; /* Ancho de 40px */
    height: 40px; /* Altura de 40px */
}


/* Ajustar textos*/ 
.text-box h3 {
    font-size: 60px; /* Ajustado desde 36px */
    margin-bottom: 20px;
}

.container .content h3 {
    font-size: 35px; /* Ajustado desde 10px (este margen) descripcion de la imagen 1 */
    margin: 10px 0;
}

.contact h2 {
    font-size: 36px; /* Puedes ajustar este tamaño también */
    margin-bottom: 20px;
}
.text-box p {
    font-size: 20px; /* Ajustado desde 18px */
    line-height: 1.6;
    text-align: justify;
}

.container .content p {
    font-size: 20px; /* Ajustado para que coincida */
    margin: 10px 0;
}
.nav-link {
    font-weight: 600;
    padding: 0 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 18px; /* Añade o ajusta esta línea */
}

/* PARRAFOA */
/* Estilo para las secciones de imagen y texto */
.image-container {
    text-align: justify; /* Justifica el texto */
    margin: 20px; /* Margen alrededor */
    padding: 20px; /* Añade un poco de espacio interno */
    flex: 1; /* Toma el espacio restante disponible */
}

.image-container img {
    max-width: 100%; /* Ancho máximo del 100% del contenedor padre */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    display: block; /* Muestra el elemento como un bloque */
    margin-bottom: 10px; /* Margen inferior */
}

.image-container h3,
.image-container p,
.image-container a {
    margin: 10px 0; /* Margen vertical */
}

.container {
    display: flex; /* Usa flexbox para el layout del container */
    align-items: center; /* Centra verticalmente los elementos hijos */
    justify-content: space-between; /* Espacia uniformemente los elementos hijos */
    width: 100%; /* Ancho completo de la ventana */
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.container .image {
    max-width: 45%; /* Ancho máximo */
    width: 100%; /* Ancho del 100% del contenedor padre */
    height: auto; /* Ajusta la altura automáticamente para mantener la proporción */
    margin-right: 20px; /* Margen derecho */
}

.container .content {
    text-align: left; /* Alinea el texto a la izquierda */
    max-width: 50%; /* Ancho máximo */
}

.container .content h3 {
    margin: 10px 0; /* Margen vertical */
}

.container .content p {
    margin: 10px 0; /* Margen vertical */
}

.container .content a {
    display: inline-block; /* Muestra el enlace como un bloque en línea */
    padding: 10px 20px; /* Relleno */
    margin-top: 10px; /* Margen superior */
    background-color: #007BFF; /* Fondo azul */
    color: #fff; /* Color de texto blanco */
    text-decoration: none; /* Elimina el subrayado del enlace */
    border-radius: 5px; /* Bordes redondeados */
}

.container .content a:hover {
    background-color: #0056b3; /* Fondo azul oscuro al pasar el ratón */
}







.nav-links .contact-link {
    display: inline-block;
    padding: 15px 25px; /* Ajusta el padding para que el botón sea más cuadrado */
    margin: 0 10px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.nav-links .contact-link:hover {
    background-color: #0056b3;
}

